.container{
    margin: 50px;
    background-color: lightblue;
    border-radius: 15px;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.button{
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
}

.counter{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: red;
}