.btn-container{
    font-size: 0;
}
.btn{
    border:none;
    background-color: lightblue;
    color: white;
    display: inline;
    padding: 10px;
    border-radius: 10px;

}
.btn-left{
    background-color: lightblue;
    color: white;
    margin-right: 0;
    display: inline;
    padding: 10px;
    border-radius:10px 0 0 10px;
    border: 1px solid black;
}
.btn-right{
    background-color: lightpink;
    color: white;
    display: inline;
    margin-left: 0;
    padding: 10px;
    border-radius:0 10px 10px 0 ;
    border: 1px solid black;
}