ul{
    list-style-type: none;
    padding: 0;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid#ccc;
    margin: 5px 0;
    padding: 5px 10px;
}
button{
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}