*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}


.headline {
    text-align: center;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.subheader {
    font-style: italic;
    text-align: center;
    font-size: 25px;
}
#panda{
    width: 50%;
}
.intro {
    background-color: bisque;
    padding: 30px;
}
.main-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: lightcoral;
    margin: 20px;
}

.text-more {
    background-color: aquamarine;
    font-weight: 800;
    color: blue;
}
.bald-idea {
    font-weight: 900;
    margin: 20px;
}
.idea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: blueviolet;
}
.footer-element {
    text-align: center;
    font-style: italic;
    font-size: 20px;
}
.intro, .main-text, .bald-idea{
    margin-left: 30px;
}