* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin-bottom: 15px;
}

h1 {
  /* сделать элемент невидимым, но оставить на странице */
  /* visibility: hidden; */
  /* сделать элемент невидимым и убрать со страницы */
  /* display: none; */
}

.header {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 100px;
  background-color: orange;
  padding-bottom: 40px;
}

.productList {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-auto-rows: 500px; */
  gap: 20px;
  margin-bottom: 25px;
}

.productCard {
  border: 1px solid black;
  padding: 20px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardImage {
  height: auto;
  width: 80%;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: lightgray;
}


.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.7s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* добавили класс чтобы прятать лоадер */
.loader-hide {
  display: none;
}




@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
