.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
}

.container div{
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container p{
    text-align: center;
}