* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-image: url(/); */
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper_2 {
  max-width: 1860px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

nav a {
  color: #424551;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

header input {
  border: 1px solid #D7DADD;
  padding: 12px 16px;
  border-radius: 4px;
  width: 380px;
}

.icons_block {
  display: flex;
}

.icons_block div {
  padding: 0 20px;
}

.icons_block div:first-child {
  border-right: 1px solid #DADBDD;
}

.ads_banner {
  background-color: #17696A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}

.ads_banner a {
  color: white;
  margin: 0 2px;
  font-size: 12px;
}

.ads_banner a:nth-child(2) {
  font-weight: 900;
  text-decoration: none;
}

.ads_banner button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  margin: 0 15px;
}

#category_block {
  background-image: url('../media/menswear_background.png');
  background-position: center;
  background-size: cover;
  height: 800px;
}

.category_block_content {
  padding: 140px 0 180px 0;
}

.category_block_content p {
  color: #1E212C;
  font-weight: 700;
  font-size: 18px;
}

.category_block_content h2 {
  font-size: 72px;
  font-weight: 900;
  margin: 20px 0 60px 0;
  color: #1E212C;
}

.shop_btns {
  display: flex;
  gap: 24px;
}

.shop_btns button {
  border: 1px solid #17696A;
  border-radius: 4px;
  height: 52px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.shop_btns button:first-child {
  background-color: transparent;
  color: #17696A;
  width: 152px;
}

.shop_btns button:last-child {
  background-color: #17696A;
  color: white;
  width: 229px;
}

.numbers_block {
  display: flex;
  gap: 4px;
  color: rgba(66, 69, 81, 0.6);
  margin-top: 180px;
}

.numbers_block div {
  border-bottom: 2px solid rgba(66, 69, 81, 0.6);
  padding-bottom: 15px;
  font-size: 28px;
  font-weight: 700;
  width: 178px;
  cursor: pointer;
}

.numbers_block div:hover {
  color: rgba(66, 69, 81, 1);
  border-bottom: 2px solid rgba(66, 69, 81, 1)
}

.category_card div {
  width: 390px;
  height: 390px;
}

.category_card p {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 16px;
}

#category_flex_block {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: -50px;
}


#new_arrivals_block {
  padding: 180px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new_arrivals_block h3 {
  font-size: 46px;
  font-weight: 900;
}

#new_arrivals_block > p {
  color: #787A80;
  font-size: 18px;
  margin-top: 24px;
}

#new_arrivals_block a {
  color: #17696A;
  font-size: 18px;
}

.new_arrivals_container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 60px;
}

.new_arrival_card div {
  width: 285px;
  height: 320px;
  position: relative;
}

.heartElem {
  position: absolute;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  color: #787A80;
}

/* .heartElem:hover {
  background-color: red;
  color: white;
} */

.heartElem.liked {
  background-color: red;
  color: white;
}

.new_arrival_title {
  font-size: 18px;
  color: #424551;
  margin: 16px 0 8px 0;
}

.new_arrival_price {
  font-size: 20px;
  font-weight: 700;
}

#grid_banners_block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}


#grid_banners_block > div {
  height: 500px;
  background-position: center;
  background-size: cover;
  padding: 60px;
}

#grid_banners_block div:nth-child(1) {
  grid-column: 1 / 3;
}

#grid_banners_block div:nth-child(2) {
  grid-column: 3 / 6;
}

#grid_banners_block div:nth-child(3) {
  grid-column: 1 / 4;
}

#grid_banners_block div:nth-child(4) {
  grid-column: 4 / 6;
}

#grid_banners_block div > p {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

#grid_banners_block div > h3 {
  font-size: 32px;
  font-weight: 900;
  margin: 20px 0 40px 0;
  width: 390px;
}

#grid_banners_block .btnElem {
  color: #17696A;
  border: 1px solid #17696A;
  border-radius: 4px;
  padding: 14px 32px;
  cursor: pointer;
  display: inline;
  font-weight: 700;
}
