@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:ital,wght@0,100;0,400;0,500;1,100;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-style: italic;
}
.header {
  height: 400px;
  background-image: url("./Images/coffee-bgnd.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: "Covered By Your Grace", cursive;
  font-style: normal;
  font-size: 100px;
  color: rgba(3, 150, 100, 0.75); /* 0.75 */
  padding-top: 120px;
  text-align: center;
}

.main {
  position: relative;
}

.left,
.right {
  position: absolute;
  width: 48%;
  top: 15px;
}

.left {
  left: 15px;
}

.right {
  right: 15px;
}

.left > div,
.right > div {
  margin: 100px 0;
  border-bottom: 1px solid #e4bb97;
  padding-bottom: 60px;
  height: 150px;
  overflow-y: auto;
}

.main div > p {
  text-align: justify;
  /* по ширине. Текст растягивается от левого до правого края */
  line-height: 1.5;
  text-indent: 30px;
  /* можно создать «красную строку» — добавить отступ для первой строки абзаца. */
  padding: 0 5px;
  color: #454;
  font-weight: 600;
}

h2 {
  text-align: center;
}
